################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HR.LeaveManagement.Clean/.vs/HR.LeaveManagement.Clean/FileContentIndex/e920e506-b5bb-4cbe-b945-4c69d22194b2.vsidx
/HR.LeaveManagement.Clean/.vs/HR.LeaveManagement.Clean/FileContentIndex/238c76fb-bfb7-4f1e-852f-37e630d8a1fd.vsidx
/HR.LeaveManagement.Clean/.vs/HR.LeaveManagement.Clean/FileContentIndex/1476285a-361f-48e4-b0d2-67c1513ca744.vsidx
/HR.LeaveManagement.Clean/.vs/HR.LeaveManagement.Clean/FileContentIndex
