################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HR.LeaveManagement.Clean/.vs/HR.LeaveManagement.Clean/FileContentIndex/e920e506-b5bb-4cbe-b945-4c69d22194b2.vsidx
